# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=democredit

# JWT
JWT_SECRET=your-super-secret-jwt-key

# Lendsqr Adjutor
ADJUTOR_API_KEY=your-adjutor-api-key
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
